BODY {
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    text-align: left;
    COLOR: black;
    margin: 1px;
}

#container {
    width: 1000px;
    margin: 0 auto 0 auto;
    border-left: lightGray 1px solid;
    border-right: lightGray 1px solid;
}

.topnav {
    FONT-SIZE: 11px;
    VERTICAL-ALIGN: middle;
    COLOR: #000080;
     TEXT-DECORATION: none
}

a.adminButton {
    background-color: #ffff80;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid black;
    color: darkred;
}

.submitButton {
    background-color: #FEFFB9;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid black;
    color: darkred;
    font-weight: bold;
}
.pointer {
	cursor: pointer;
}
.submitButton:hover {
    background-color: #FFFFEB;
    /* #FFFF99; */
}

TD {
    margin-left: 0px;
}

TABLE.hasBorder {
    BORDER: lightgray 1px solid;
}

TR.hasBorder {
    /* 	BORDER: #7b9ead 1px solid; */
}

TD.hasBorder {
    BORDER: #7b9ead 1px solid;
}

TABLE.nccsForms {
    BORDER-RIGHT: #7b9ead 1px solid;
    BORDER-TOP: #7b9ead 1px solid;;
    BORDER-LEFT: #7b9ead 1px solid;
    BORDER-BOTTOM: #7b9ead 1px solid;
}

TD.nccsForms {
    BORDER: lightGray 1px solid;
}

/* used in reportWriter: */
td.rwHead {
	border-bottom: 1px solid lightgray; padding-left:10px; padding-right:10px;
}
	
td.rwDark {
    background-color: #F1F0F0;
    padding: 5px 10px 5px 10px;
}

td.rw {
    background-color: white;
    padding: 5px 10px;
}

.addLibrary #content table {
	table-layout : fixed;
}

#content table td {
    word-wrap: break-word;
    /*max-width: 150px;*/
}

td.num {
	text-align: right;
}

/* used in 990search.php: */
.trow {
	padding: 5px 5px 5px 9px;
}

[disabled] {
    /* Text and background colour, dark on light gray:
     color:#9c9c9c;
     background-color:#f2f2f2;
      */
    color: #9c9c9c;
    background-color: white;
}

/* Brevard only */
A {
    TEXT-DECORATION: none;
    COLOR: #043680;
}

ul {
    margin-top: 2px; padding-left: 20px;
}

A:hover {
    TEXT-DECORATION: underline;
}

A.topnav:link {
    FONT-SIZE: 11px;
    COLOR: #000080;
     TEXT-DECORATION: none
}

A.topnav:visited {
    FONT-SIZE: 11px;
    COLOR: #000080;
     TEXT-DECORATION: none
}

A.topnav:active {
    FONT-SIZE: 11px;
    COLOR: #000080;
     TEXT-DECORATION: none
}

A.topnav:hover {
    FONT-SIZE: 11px;
    COLOR: #039a84;
     TEXT-DECORATION: none
}

.subnav {
    FONT-SIZE: 11px;
    VERTICAL-ALIGN: middle;
    COLOR: #000080;
     TEXT-DECORATION: none
}

A.subnav:link {
    FONT-SIZE: 11px;
    COLOR: #000080;
     TEXT-DECORATION: none
}

A.subnav:visited {
    FONT-SIZE: 11px;
    COLOR: #000080;
     TEXT-DECORATION: none
}

A.subnav:active {
    FONT-SIZE: 11px;
    COLOR: #000080;
     TEXT-DECORATION: none
}

A.subnav:hover {
    FONT-SIZE: 11px;
    COLOR: #039a84;
     TEXT-DECORATION: none
}

A.hdg:link {
    color: black;
}

A.hdg:visited {
    color: black;
}

.titleblue {
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #003366;
    FONT-STYLE: italic;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}

.topnavwhite {
    FONT-SIZE: 11px;
    VERTICAL-ALIGN: middle;
    COLOR: #ffffff;
     TEXT-DECORATION: none
}

A.topnavwhite:link {
    FONT-SIZE: 11px;
    COLOR: #ffffff;
     TEXT-DECORATION: none
}

A.topnavwhite:visited {
    FONT-SIZE: 11px;
    COLOR: #ffffff;
     TEXT-DECORATION: none
}

A.topnavwhite:active {
    FONT-SIZE: 11px;
    COLOR: #ffffff;
     TEXT-DECORATION: none
}

A.topnavwhite:hover {
    FONT-SIZE: 11px;
    COLOR: #ffff99;
     TEXT-DECORATION: none
}

.maintealbody {
    FONT-SIZE: 12px;
    VERTICAL-ALIGN: middle;
    COLOR: #333333;
    LINE-HEIGHT: 150%;
     LIST-STYLE-TYPE: circle;
    TEXT-DECORATION: none
}

A.maintealbody:link {
    FONT-SIZE: 12px;
    COLOR: #0000cc;
     TEXT-DECORATION: none
}

A.maintealbody:visited {
    FONT-SIZE: 12px;
    COLOR: #660033;
     TEXT-DECORATION: underline
}

A.maintealbody:active {
    FONT-SIZE: 12px;
    COLOR: #0000cc;
     TEXT-DECORATION: none
}

A.maintealbody:hover {
    FONT-SIZE: 12px;
    COLOR: #0000cc;
     TEXT-DECORATION: underline
}

.titleteal {
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    VERTICAL-ALIGN: middle;
    COLOR: #333333;
     LIST-STYLE-TYPE: circle;
    TEXT-DECORATION: none
}

.subnavred {
    FONT-SIZE: 11px;
    COLOR: #990000;
     LIST-STYLE-TYPE: circle;
    TEXT-DECORATION: none
}

.titlesection {
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #460000;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}

.titlesection {
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #460000;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}

A.pagetitle {
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: TEAL;
    TEXT-DECORATION: none;
    line-height: 24px;
    vertical-align: bottom;
}

A.pagetitle:hover {
    TEXT-DECORATION: underline;
}

.topsubnav {
    FONT-SIZE: 11px;
    VERTICAL-ALIGN: middle;
    COLOR: #000033;
     TEXT-DECORATION: none
}

.rightsubnav {
    FONT-SIZE: 11px;
    COLOR: #165451;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}

DIV.leftNavLink {
    BORDER-RIGHT: #7b9ead 1px solid;
    BORDER-TOP: #7b9ead 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    BORDER-LEFT: #7b9ead 1px solid;
    BORDER-BOTTOM: #7b9ead 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #9cbac6;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}

P {
    FONT-SIZE: 12px;
    COLOR: #333333;
     margin-top: 5px;
    margin-bottom: 5px;
}

/*     COLOR: #333333; */
LI {
    /*padding-left: 15px;*/
    /*margin-left: 10px;*/
    /*text-indent: -0px;*/
    /*margin-top: 7px;*/
}

/* brevard */
H1 {
    FONT-SIZE: 22px;
    COLOR: #333333;
    /*font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;*/
    margin-top: 5px;
    margin-bottom: 25px;
    margin-left: 1px;
}

H1.short {
    margin-top: 0px;
    margin-bottom: 10px;
}

H2, h1.geoHeader {
    FONT-WEIGHT: bold;
    FONT-SIZE: 15px;
    COLOR: #003399;
    margin-top: 10px;
    margin-bottom: 10px;
}

H2.loginError {
    margin-top: 20px;
    text-align: center;
    color: #cc0033;
}

.errMsg {
    color: red;
    font-weight: bold;
}

/* COLOR:#007b7b; */
H3 {
    FONT-WEIGHT: normal;
    FONT-SIZE: 14px;
    vertical-align: bottom;
    margin-top: 10px;
    margin-bottom: 10px;
}

H4 {
    FONT-SIZE: 12px;
    COLOR: #333333;
    margin-top: 5px;
    margin-bottom: 5px;
}

HR {
    margin-top: 2px;
    margin-bottom: 2px;
}

P.space {
    LINE-HEIGHT: 110%;
}

/* admin: use this for box for info for admin users only: */
.admin {
    color: red;
    background-color: #E0E0E0;
    margin-left: -5px;
    margin-right: -5px;
    line-height: 250%;
    border: solid 1px;
    padding-left: 10px;
    padding-right: 10px;
}

a.adminRed {color: red;}

/* hiliteBox: use for box at top of page to highlight something, eg, ntee 2 pager on ntee help page. */
.hiliteBox {
/*
    background-color: #FFFFCC;
    margin-left: 1px;
    margin-right: 1px;
    line-height: 250%;
    border: solid 1px;
    padding-left: 10px;
    padding-right: 10px;
*/
    font-size:14px;
}

/* use for project, etc. - bigger right-side box */
.hiliteBox2 {
    background-color: #FFFFCC;
    padding: 6px;
    border: 1px solid gray;
    float: right;
    line-height: 180%;
}

#divReports {
	width: 82%;
    padding: 20px 9%;
	margin-top:15px;
	margin-bottom: 70px;
	right:0px;
	background-color: #FFF0CE;
	box-shadow: 2px 2px 10px -2px #333;
	-webkit-box-shadow: 2px 2px 10px -2px #333;
	-moz-box-shadow:2px 2px 10px -2px #333;
	border:none;
}
#divReports.libraryHome {
    border-radius: 15px;
}
#divReports a {
/*
	display:block;
	margin-bottom: 4px;
	margin-left: 5px;
*/
}
#divReports h4 {
	margin-left: -5px;
}
#divReports.projectNav {
	width:250px;
}
#userGroupForm {
	padding-bottom: 40px;
    width: 100%;
}
a.registered:link, a.registered:visited {
    color: #008283;
}

.registered {
    color: #008283;
}

.hide {
    display: none;
    /* padding-left: 15px; */
}

.show {
    display: block;
    /* padding-left: 15px; */
}

li.bullet1 {
    line-height: 1.5;
    margin-left: 0px;
    list-style: disc inside;
}

li.bullet2 {
    line-height: 1.5;
    color: steelblue;
    margin-left: 30px;
}

li.bullet3 {
    line-height: 1.5;
    color: #990000;
    margin-left: 60px;
}

li.bullet4 {
    line-height: 1.5;
    color: blue;
    margin-left: 90px;
}

li.bullet5 {
    line-height: 1.5;
    color: blue;
    margin-left: 120px;
}

li.bullet6 {
    line-height: 1.5;
    color: blue;
    margin-left: 150px;
}


#menubar {
    padding-bottom: 2px;
    padding-top: 1px;
    margin-top: 0px;
    vertical-align: top;
    color: black;
    font-size: 14px;
    font-weight: bold;
    width: 936px;
}

#menubar a {
    color: black;
	padding-left:15px;
}

#searchFilter {
	background-color: #E8E8E8;
	padding: 9px;
	margin: 4px 0px 0px 0px;
	min-height: 55px;
	border: 1px solid #D5D2D2;
	border-bottom: 0;
}

ul.SimpleHorizMenu {
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 3px;
    padding-right: 3px;
    margin-top: 3px;
}

/*  border-style: outset;	//3d effect */
ul.SimpleHorizMenu li {
    display: inline;
    border-style: outset;
    background-color: #C0C0C0;
    border-width: 1px;
}

/* 1em = 10px? */
ul.SimpleHorizMenu li a {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

/*  text-decoration: underline; */
ul.SimpleHorizMenu li a:hover {
    background-color: #D0D0D0;
}

#footer, #footer2 {
    clear: both;
    border-top: 25px solid #fff;
}

#footer2 {
    border-top: 0px solid #fff;
    width: 939px;
}

#footer p, #footer2 p {
    padding: 10px;
    font-size: 9pt;
    text-align: center;
    border-top: 1px solid #066;
    background: #eee;
    color: #fff;
    margin: 0;
}

#footer a, #footer2 a {
    color: #CC6600;
    font-weight: normal;
}
.headingReverse {
	background: #67CFCF;
    color: white;
	/* #20AFAF; */
}	

/* soft highlight for horizontal message at top of page telling user "Search for ... and press GO..." */
.userPrompt {
    padding: 8px 0;
    font-weight:bold;
    font-size:15px;
}

.form_fields li {
    list-style-type: none;
    display: block;
}

.form_fields label {
    font-weight: bold;
    display: block;
}

.form_fields textarea {
    width: 25em;
    height: 5em;
}

#kbItemComments .comment_content {
    margin: 0 0 1em;
    border-bottom: 1px solid #ccc;
}

#kbItemComments .pending_approval {
    color: red;
    font-style: italic;
    display: block;
}

input#submit2, input#submit2Top, input#cancelBtn, input#prevBtn, input#prevBtnTop, input.step1, input.step2, input.step3, input.step4, input.step5, input.step6, input.step7, input.step8, input.step9, input.backToStepOne {
	background-repeat: no-repeat;
	background-position: top center;
	background-color: transparent;
	border:0px;
	width:72px;
	padding:34px 0px 0px 0px;
	margin:0px;
	font-size:13px;
	cursor:pointer;
}
input.step1, input.step2, input.step3, input.step4, input.step5, input.step6, input.step7, input.step8, input.step9 {
	width:108px;
	font-size:13px;
	padding:45px 10px 10px 10px;
	background-position: center 10px;
	opacity: .5; 
	cursor:default;
}
#finSteps input.pointer, #finSteps input.curStep {
	cursor: pointer;
}
input#submit2, input#submit2Top {
	background-image: url(../communityplatform/public/images/community/ct/finance/rightArrow.png);
}
input#cancelBtn {
	background-image: url(../communityplatform/public/images/community/ct/finance/block.png);
}
input#prevBtn, input#prevBtnTop {
	background-image: url(../communityplatform/public/images/community/ct/finance/leftArrow.png);
}
input.step1 {
	background-image: url(../communityplatform/public/images/community/ct/finance/stepNum1.png);
}
input.step2 {
	background-image: url(../communityplatform/public/images/community/ct/finance/stepNum2.png);
}
input.step3 {
	background-image: url(../communityplatform/public/images/community/ct/finance/stepNum3.png);
}
input.step4 {
	background-image: url(../communityplatform/public/images/community/ct/finance/stepNum4.png);
}
input.step5 {
	background-image: url(../communityplatform/public/images/community/ct/finance/stepNum5.png);
}
input.step6 {
	background-image: url(../communityplatform/public/images/community/ct/finance/stepNum6.png);
}
input.step7 {
	background-image: url(../communityplatform/public/images/community/ct/finance/stepNum7.png);
}
input.step8 {
	background-image: url(../communityplatform/public/images/community/ct/finance/stepNum8.png);
}
input.step9 {
	background-image: url(../communityplatform/public/images/community/ct/finance/stepNum9.png);
}
input.backToStepOne {
	background-image: url(../communityplatform/public/images/community/ct/finance/backToStepOne.png);
	padding-top: 41px;
	font-size: 10px;
	margin-left:20px;
}
input[readonly] {
    background-color: lightgray;
}
#finSteps {
	text-align:center;
	margin-bottom:10px;
}
#finSteps #prevBtnTop, #finSteps #submit2Top {
	display:none;
}
#finSteps input.curStep {
	font-weight:bold;
	background-color: #E5E5E5;
	opacity: 1;
	corner-radius-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
.backToStepOneDiv {
	display:none;
}
.dirBtnDiv {
	display:inline;
}
.disabled, .disabled:hover {
	color:#666;
	font-style: italic;
	cursor: default;
	text-decoration:none;
}
img.pageIcon {
	display: inline;
	margin-top: -11px;
	padding-right: 7px;
	vertical-align: middle;
}

.projectSummaryRpt h1 {
	margin-top:5px !important;
}

/* geoSearch2010.php */

table#geoSearchResultsTable {
	border-top:1px solid #3275B1;
	border-left:1px solid #3275B1;
	margin-top:10px;
}
table#geoSearchResultsTable tr td {
	padding:7px;
	border-bottom: 1px solid #3275B1;
	border-right: 1px solid #3275B1;
}
table#geoSearchResultsTable th {
	background-color: #3275B1;
	text-align: center;
	font-size: 12px;
	padding: 6px 0 2px;
}

/* geoShowVals2010.php */

table#geoShowValsTbl {
	border: 1px solid #333;
	box-shadow: 0px 0px 16px -1px black;
	padding: 0 20px 20px;
    width: 750px;
    background-color: #f0f6ff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f6ff), to(#7a9ed3));
	background-image: -webkit-linear-gradient(top, #f0f6ff, #7a9ed3);
	background-image:    -moz-linear-gradient(top, #f0f6ff, #7a9ed3);
	background-image:     -ms-linear-gradient(top, #f0f6ff, #7a9ed3);
	background-image:      -o-linear-gradient(top, #f0f6ff, #7a9ed3);
	background-image:         linear-gradient(to bottom, #f0f6ff, #7a9ed3);
}
table#geoShowValsTbl th, .headingReverse {
	background-color: #3275B1 !important;
}
table#geoViewsTbl td { 
	border: 1px solid #333;
}
#geoShowValsTbl td {
	padding: 4px;
}
#searchTable input[type='text'] {
	padding: 5px;
	font-size: 13px;
}

form#userGroupForm table tr td input[type='text'][disabled],
form#userGroupForm table tr td textarea[disabled] {
	color: black;
	border: 0;
}
#groupName, #groupDescription {
	width: 80%;
	padding: 6px 7px;
}
#groupName {
	font-size: 14px;
}
#groupDescription {
	font-size: 12px;
	overflow-y: auto;
	height: 60px;
}
body.library #welcomeParagraph {
	line-height: 170%; 
	margin-bottom: 15px;
	width: 500px;
}
body.library #defaultInstruction {
	line-height: 100%; 
	margin-bottom: 10px; 
	width:500px;
}
body.library #libSearchForm {
	margin-top:0px;
}

/* New Search Page */

body.search2 #searchTbl {
	font-size:16px;
	background-color: #e3eff7;
	box-shadow: 0px 0px 16px -3px #000;
	-webkit-box-shadow: 0px 0px 16px -3px #000; 
	-moz-box-shadow: 0px 0px 16px -3px #000; 
	padding: 24px 17px;
	margin: 10px auto;
	
}
body.search2 #searchTbl tr.shaded,
body.search2 #moreCategories {
	background-color: #cedce6 !important;
}
body.search2 #searchTbl tr td {
	padding: 6px 10px;
}
body.search2 #searchTbl input[type="text"] {
	padding: 5px 6px;
	font-size: 14px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#d7ebeb));
	background-image: -webkit-linear-gradient(top, #FFF, #d7ebeb);
	background-image:    -moz-linear-gradient(top, #FFF, #d7ebeb);
	background-image:     -ms-linear-gradient(top, #FFF, #d7ebeb);
	background-image:      -o-linear-gradient(top, #FFF, #d7ebeb);
	background-image:         linear-gradient(to bottom, #FFF, #d7ebeb);
}
body.search2 #searchTbl input#orgname {
	width: 340px;
}
body.search2 #searchTbl input#location {
	width: 90%;
}
body.search2 #searchTbl input#ein,
body.search2 #searchTbl input#nteeFilter {
	width: 60%;
	margin-right: 5px;
}
body.search2 #searchTbl select#revenueFilter,
body.search2 #searchTbl select#irsType {
	width: 66%;
}
body.search2 #searchTbl #enterNameLabelTd,
body.search2 #searchTbl #enterNameFieldTd {
	text-align:center;
}
body.search2 #searchTbl #enterNameLabelTd {
	font-size:16px;	
}
body.search2 #searchTbl #enterNameFieldTd input[type="text"] {
	font-size: 18px !important;
	padding: 10px !important;
	margin-bottom: 20px;
}
body.search2 #searchTbl #addtSearch {
	text-align: center;
	padding-top:15px;
	font-size: 14px;
}
body.search2 #searchTbl .smallText {
	font-size: 11px;
}
body.search2 #searchTbl .registered {
	color:#000 !important;
}
/*
#searchTips.ctSearchPage {
	display:none;
}
*/
body.search2 #searchTbl input.submit {
	margin-top: 15px;
}
body.search2 #searchTbl tr td.singleLineLabel span {
	/* margin-top: -16px; */
	display: block;
}
body.search2 #searchTips {
	/* margin:60px 20px 0px; */
	padding:20px;
	background-color:#E8F0FB;
	box-shadow: 0px 0px 22px -3px #000;
	-webkit-box-shadow: 0px 0px 22px -3px #000; 
	-moz-box-shadow: 0px 0px 22px -3px #000; 
	margin: 9px;
	display: none;
}
body.search2 #searchTips ul {
	padding-left: 3px;
}
body.search2 #searchTips ul li {
	padding-left: 0;
	font-size: 11px;
	margin-top: 4px;
}
.searchDialog .ui-dialog-titlebar {
	border: none;
	background-color: transparent;
	margin-bottom: -35px;
	z-index: 10;
	margin-right: 4px;
}
.searchDialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
	border:none;
}
.searchDialog {
	border: none !important;
	background-color: transparent !important;
	background-image: none !important;
}
body.search2 #searchTips .clickTo {
	float:right;
	cursor: pointer;
	font-size: 11px;
	color: #666;
}
body.search2 #searchTips .clickTo:hover {
	text-decoration: underline;
}
body.search2 .userPrompt {
	margin-bottom: 13px;
}
body.search2 select#userListIdShow,
body.search2 select#npcCode {
	width: 245px;
}

body.financialAnalyzer div#content {
	margin-top:24px;
}
body.financialAnalyzer div#menubar {
	margin-top:-24px;
	position: absolute;
	z-index: 10;
	/* right: 10px; */
}
body.financialAnalyzer div#menubar .custStyle.help {
	width: 51px;
}
div#searchActCodes, 
div#searchPrograms {
	display: inline;
	width: 44%;
	float: left;
	margin: 0 2%;
}
div#searchActCodes .tooltip, 
div#searchPrograms .tooltip {
	float:right;
}
div#searchPrograms {
	width: 161px;
}
div#searchActCodes {
	width: 187px;
}
span.nmSearchLabel {
	padding-left:0px;
}
input#srchTxt.basic {
	width: 180px;
}
input#srchTxt.advanced {
	
}
#libDetailTable a.tooltip {
	float: none;
}
/*
#results table tr td.rw:hover {
	cursor: pointer;
	background-color: #f8f4ec;
}
#results table tr td.rwDark:hover {
	cursor: pointer;
	background-color: #edeae2;
}
*/
#libDetailTable a {
    word-break: break-all;
}

.col1 {
    float: left;
    width: 60%;
    margin-right: 4%;
}
.col2 {
    float: left;
    width: 34%;
}

.redText {
    color: red;
}
table#libraryAddTable input[type="text"],
table#libraryAddTable input#name,
table#libraryAddTable textarea,
table#libraryAddTable select,
table#libraryAddTable .chzn-container {
    width: 100%;
    max-width: 100%;
}


/* Mobile */

@media screen and (max-width : 700px) {
    #admin .col2, #admin .col1 {
        width: 100%;
    }
    .col1, .col2 {
        width: 100%;
        clear: both;
    }
    .col1 #addlLinks {
        margin-top: 8px;
        margin-bottom: -8px;
    }
    #wrapper #socialSharing {
        width: 100%;
        margin-top: 4px;
        margin-bottom: 8px;
        margin-left: 0;
    }
    table#libraryAddTable input#tagInput {
        width: 80%;
    }
    #libraryAddTable .sectionDocs>td, #libraryAddTable .rowGeographicScope>td {
        padding-left: 0;
    }
    #wrapper div#results {
        width: 100%;
    }
    #wrapper #sidebar {
        width: 96%;
        margin: 20px 0;
    }

}

/* End Mobile */
